/* vim: set filetype=dts : */
#include <zephyr/dt-bindings/pwm/pwm.h>

/*
* Copyright (c) 2021 Nordic Semiconductor ASA
*
* SPDX-License-Identifier: Apache-2.0
*/

/ {
    chosen {
        zephyr,console = &cdc_acm_uart6;
        zephyr,shell-uart = &cdc_acm_uart6;
    };

    aliases {
        watchdog0 = &wdt0;
    };

    pwmleds {
        compatible = "pwm-leds";
        status = "okay";
        pwm_led_rgbcct_w: pwm_led_5A {
            pwms = <&pwm 10 PWM_USEC(100) PWM_POLARITY_NORMAL>;
            label = "RGBCCT-WW";
        };
        pwm_led_rgbcct_c: pwm_led_5B {
            pwms = <&pwm 11 PWM_USEC(100) PWM_POLARITY_NORMAL>;
            label = "RGBCCT-CW";
        };
        pwm_led_backlight: pwm_led_6A {
            pwms = <&pwm 12 PWM_USEC(500) PWM_POLARITY_INVERTED>;
            label = "backlight";
        };
        pwm_led_rgbcct_b: pwm_led_6B {
            // needs to be the same frequency as 6A = backlight
            pwms = <&pwm 13 PWM_USEC(500) PWM_POLARITY_NORMAL>;
            label = "RGBCCT-B";
        };
        pwm_led_rgbcct_r: pwm_led_7A {
            pwms = <&pwm 14 PWM_USEC(100) PWM_POLARITY_NORMAL>;
            label = "RGBCCT-R";
        };
        pwm_led_rgbcct_g: pwm_led_7B {
            pwms = <&pwm 15 PWM_USEC(100) PWM_POLARITY_NORMAL>;
            label = "RGBCCT-G";
        };
    };

    leds {
        compatible = "gpio-leds";
        led_backlight_enable: led_29 {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "backlight ENA";
        };
    };
};

&pwm {
    status = "okay";
    // No need to set frequency for individual slices here, pwm-leds will do it
    // automatically.
    pinctrl-0 = <&pwm_default>;
    pinctrl-names = "default";
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 0";
    };

    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 1";
    };

    cdc_acm_uart2: cdc_acm_uart2 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 2";
    };

    cdc_acm_uart3: cdc_acm_uart3 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 3";
    };

    cdc_acm_uart4: cdc_acm_uart4 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 4";
    };

    cdc_acm_uart5: cdc_acm_uart5 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 5";
    };

    cdc_acm_uart6: cdc_acm_uart6 {
        compatible = "zephyr,cdc-acm-uart";
        label = "Zephyr USB CDC-ACM 6 (log)";
    };

    // We can only have 7 CDCs. This is a fundamental USB limitation.
    // If we really wanted modbus, we should replace CDC-ACM6 with USB ethernet
    // and use modbus tcp.
    //cdc_acm_uart7: cdc_acm_uart7 {
    //    compatible = "zephyr,cdc-acm-uart";
    //    label = "Zephyr USB CDC-ACM 7 (modbus)";
    //    modbus0 {
    //        compatible = "zephyr,modbus-serial";
    //        status = "okay";
    //    };
    //};
};


&pinctrl {
    uart1_default: uart1_default {
        group1 {
            pinmux = <UART1_TX_P4>;
        };
        group2 {
            pinmux = <UART1_RX_P5>;
            input-enable;
            bias-pull-up;
        };
    };

    pio0_uart0_default: pio0_uart0_default {
        rx_pins {
            pinmux = <PIO0_P3>;
            input-enable;
            bias-pull-up;
        };
        tx_pins {
            pinmux = <PIO0_P2>;
        };
    };

    pio0_uart1_default: pio0_uart1_default {
        rx_pins {
            pinmux = <PIO0_P7>;
            input-enable;
            bias-pull-up;
        };
        tx_pins {
            pinmux = <PIO0_P6>;
        };
    };

    pio1_uart0_default: pio1_uart0_default {
        rx_pins {
            pinmux = <PIO1_P9>;
            input-enable;
            bias-pull-up;
        };
        tx_pins {
            pinmux = <PIO1_P8>;
        };
    };

    pio1_uart1_default: pio1_uart1_default {
        rx_pins {
            pinmux = <PIO1_P11>;
            input-enable;
            bias-pull-up;
        };
        tx_pins {
            pinmux = <PIO1_P10>;
        };
    };

    pwm_default: pwm_default {
        group1 {
            pinmux = <PWM_5A_P26>;
        };
        group2 {
            pinmux = <PWM_5B_P27>;
        };
        group3 {
            pinmux = <PWM_6A_P28>;
        };
        group4 {
            pinmux = <PWM_6B_P13>;
        };
        group5 {
            pinmux = <PWM_7A_P14>;
        };
        group6 {
            pinmux = <PWM_7B_P15>;
        };
    };

};

&pio0 {
    status = "okay";

    pio0_uart0: uart0 {
        pinctrl-0 = <&pio0_uart0_default>;
        pinctrl-names = "default";

        compatible = "raspberrypi,pico-uart-pio";
        current-speed = <9600>;
        status = "okay";
    };

    pio0_uart1: uart1 {
        pinctrl-0 = <&pio0_uart1_default>;
        pinctrl-names = "default";

        compatible = "raspberrypi,pico-uart-pio";
        current-speed = <9600>;
        status = "okay";
    };
};

&pio1 {
    status = "okay";

    pio1_uart0: uart0 {
        pinctrl-0 = <&pio1_uart0_default>;
        pinctrl-names = "default";

        compatible = "raspberrypi,pico-uart-pio";
        current-speed = <9600>;
        status = "okay";
    };

    pio1_uart1: uart1 {
        pinctrl-0 = <&pio1_uart1_default>;
        pinctrl-names = "default";

        compatible = "raspberrypi,pico-uart-pio";
        current-speed = <115200>;
        status = "okay";
    };
};


&uart0 {
    current-speed = <115200>;
    /* pins: P0 Tx, P1 Rx */
};

&uart1 {
    current-speed = <115200>;
    status = "okay";
    pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};

&wdt0 {
    status = "okay";
};


&ws2812 {
    status = "disabled";
};
